body {
  background-color: rgb(46, 45, 45);
  color: rgb(202, 202, 202);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerImage {
  width: 400px;
  margin-top: 50px;
}

.mask {
  display: block;
  margin: auto;
  width: 20%;
}

.footer {
  width: 50%;
  text-align: center;
  margin: 50px 0 20px 0;
  background-color: rgba(182, 182, 182, 0.1);
  padding: 30px;
  border-radius: 20px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .headerImage {
    width: 100%;
  }
  .footer {
    width: 95%;
  }
}
