.navbar {
  display: flex;
  align-items: center;
  background: #404b69;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

.navbar__logo {
  width: 25px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}
